body {
  background-color: rgb(172, 172, 177);
}

h3 {
  color: rgb(31, 43, 100);
  text-align: center;
  font-size: 50px;
}

.app {
  text-align: center;
  width: auto;
}


.todo-list {
  margin-top: 5%;
}

.todo {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 1%;

}
